@{
    ViewBag.Title = "Plugin Integration - Datatable";
}

<div class="row">
    <div class="panel-heading">
        <div class="col-md-8  custom-heading3">
            <h3>
                <i class="fa fa-table"></i>
              
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <section class="col-md-12 col-md-push-0">
        @*@Html.Partial("_ViewListPartial")*@

        <section>
            <div class="well bs-component">
                <br />
                <input type="text" id="Filtro" />
                <div class="row">
                    <div>
                        <table class="table table-striped table-bordered table-hover"
                                id="TableId"
                                cellspacing="0"
                                align="center"
                                width="100%">
                            <thead>
                                <tr>
                                    <th>Sr</th>
                                    <th>Order Track Number</th>
                                    <th>Quantity</th>
                                    <th>Product Name</th>
                                    <th>Special Offer</th>
                                    <th>Unit Price</th>
                                    <th>Unit Price Discount</th>
                                    <th>Sr</th>
                                    <th>Order Track Number</th>
                                    <th>Quantity</th>
                                    <th>Product Name</th>
                                    <th>Special Offer</th>
                                    <th>Unit Price</th>
                                    <th>Unit Price Discount</th>
                                    <th>Unit Price</th>
                                    <th>Unit Price Discount</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>





<script>
    $(document).ready(function () {
        //console.clear();
        // alert("xxxxxxx");
        console.log("hola");
        $('#TableId').DataTable(
        {
            "columnDefs": [
                { "width": "5%", "targets": [0] },
                { "className": "text-center custom-middle-align", "targets": [0, 1, 2, 3, 4, 5, 6] },
            ],
            "language":
                {
                    "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                },
            "processing": true,
            "serverSide": true,
            "ajax":
                {
                    "url": '@Url.Action("GetData", "Patient")',
                    "type": "POST",
                    "dataType": "JSON"
                },
            "columns": [
                        { "data": "Pat_code_old" },
                        { "data": "Pat_firstName" },
                        { "data": "Pat_lastName" },
                        { "data": "Pat_address" },
                        { "data": "Pat_phone" },
                        { "data": "Pat_fax" },
                        { "data": "Pat_zipCode" },
                        { "data": "Pat_city" },
                        { "data": "Pat_state" },
                        { "data": "Pat_zipCodeExt" },
                        { "data": "Pat_status" },
                        { "data": "Pat_socialSecurityNumber" },
                        { "data": "Pat_birthday" },
                        { "data": "Pat_socialSecurityNumberD" },
                        { "data": "Pat_sex" },
                        { "data": "Pat_code" }
            ]
        });
    });


</script>







@*<div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <button class="btn btn-danger"  id="EnlaceCrearNuevo" type="button" >
                            <i class="fa fa-paste"></i> Create New
                         </button>
                         <button type="button" class="btn btn-primary"  id="btnModal" data-toggle="modal" data-target="#myModal4" style="display:none;"></button>
                          
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" id="tblPacientes" >
                    <thead class="th_tabla">
                    <tr>
        <th class="hidden"></th>
        <th >         
            First Name
        </th>
        <th>
            Patient's Last name
        </th>
        <th>
            Birthday
        </th>
        <th>
            SSNumber
        </th>
        <th>
            Street
        </th>
        <th style="display: none;">
            City code
        </th>
        <th>
            City
        </th>
        <th style="display: none;">
            State code
        </th>
        <th>
            State
        </th>
        <th>
            Zip
        </th>
        <th>
            Ext
        </th>
        <th>
            Phone
        </th>
        <th>
            Alt Phone
        </th>
        <th>
            Sex
        </th>                               
        <th>Operations</th>
                    </tr>
                    </thead>
  <tbody>
 
@foreach (var item in Model) {
    <tr id="Html.DisplayFor(modelItem => item.Pat_code)">
        <td class="hidden">
            Html.DisplayFor(modelItem => item.Pat_code)
        </td>        
        <td>
            Html.DisplayFor(modelItem => item.Pat_firstName)
        </td>
        <td>
            Html.DisplayFor(modelItem => item.Pat_lastName)
        </td>
        <td>
            Html.DisplayFor(modelItem => item.Pat_birthday )
        </td>
        <td>
            Html.DisplayFor(modelItem => item.Pat_socialSecurityNumberD)
        </td>
        <td>
            Html.DisplayFor(modelItem => item.Pat_address)
        </td>
        <td style="display: none;">
            Html.DisplayFor(modelItem => item.Cit_code)
        </td>
        <td>
            Html.DisplayFor(modelItem => item.Pat_city)
        </td>
        <td style="display: none;">
            Html.DisplayFor(modelItem => item.Sta_code)
        </td>
        <td>
            Html.DisplayFor(modelItem => item.Pat_state)
        </td>
        <td>
            Html.DisplayFor(modelItem => item.Pat_zipCode)
        </td>
        <td>
            Html.DisplayFor(modelItem => item.Pat_zipCodeExt)
        </td>
        <td>
            Html.DisplayFor(modelItem => item.Pat_phone)
        </td>
        <td>
            Html.DisplayFor(modelItem => item.Pat_fax)
        </td>
        <td>
            Html.DisplayFor(modelItem => item.Pat_sex)
        </td>       
        <td>
            <a href="#divPatient" class="btn EditarPaciente btn-white btn-bitbucket"><i class="fa fa-pencil text-danger"></i></a> &nbsp; 
            <a class="btn EliminarPaciente btn-white btn-bitbucket"><i class="fa fa-trash-o text-danger" /> </a>
        </td>
    </tr>
}
                    </tbody>


                    <tfoot>
                    <tr>
        
        <th style="display: none;">

        </th>

       <th >         
            First Name
        </th>
        <th>
            Patient's Last name
        </th>
        <th>
            Birthday
        </th>
        <th>
            SSNumber
        </th>
        <th>
            Street
        </th>
        <th style="display: none;">
            City code
        </th>
        <th>
            City
        </th>
        <th style="display: none;">
            State code
        </th>
        <th>
            State
        </th>
        <th>
            Zip
        </th>
        <th>
            Ext
        </th>
        <th>
            Phone
        </th>
        <th>
            Alt Phone
        </th>
        <th>
            Sex
        </th>         
        <th>Operations</th>
                    </tr>
                    </tfoot>
                    </table>
                        </div>

                    </div>
                </div>
            </div>*@