<div class="table-responsive" id="TablaParaBusquedaAvanzadaCasos">
    <table class="table table-striped table-bordered table-hover dataTables-example" id="tblCasos">
        <thead class="th_tabla">    
            <tr>
                <th>NAME</th> 
                <th>TELEPHONE</th>
                <th>EXT  </th>
                <th class="hidden"> </th>                
                <th>SELECT </th>
            </tr>
        </thead>
        <tbody style="display: none;">
     
        </tbody>

        <tfoot>
            <tr>
                <th >
                    NAME
                </th>
                <th >         
                    TELEPHONE
                </th>
                <th >
                    EXT                                                                                                                                                                           
                </th>
                <th class="hidden">
                    codigo                                                                                                                                                                           
                </th>
                <th>SELECT</th>
            </tr>
        </tfoot>
    </table>
</div>

<script>
    $(Inicio);

    function Inicio()
    {


    }




</script>