<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">        
        <div class="col-lg-12" id="divResultado">
            <div class="ibox float-e-margins">
                <div class="ibox-title header_formulario">
                    <h5>LIST OF PRESUMPTION CASES</h5>
                </div> 
                <div class="ibox-content" id="div_reporte" style="border-style: none; border-width: 0;">
                    <div class="form-group">
                        <button id="btnGeneraWord" class="btn btn-primary" type="button" data-toggle="tooltipB"  data-placement="top" title="" data-original-title="Create a New case"><i class="fa fa-save"></i>&nbsp; Export to Word</button>
                         <a  href='#' id="linkWord" data-url="@Url.Content("~/ReportPresumptionCases/ExportToWordPresumption")" class="btn btn-primary" target="_blank" style="display:none;"><i class="fa fa-file"></i>&nbsp;Generate link</a>     
                         @*    @Html.Partial("../ReportPresumptionCases/lista_reporte")*@
                             @{ Html.RenderAction("ListaPresumptionCases", "ReportPresumptionCases"); }
                    </div>  
                </div> 
            </div>
        </div>  
    </div>


</div>

@Html.Partial("footer")
