<div class="table-responsive" id="TablaParaBusquedaAvanzadaCasos">
    <table class="table table-striped table-bordered table-hover dataTables-example" id="tblCasos">
        <thead class="th_tabla">    
            <tr>
                <th>NAME</th> 
                <th>USER MODIFICATION</th>
                <th>DATE MODIFICATION</th>
                <th>ACTION MODIFICATION </th>                
                <th class="hidden">SELECT </th>
            </tr>
        </thead>
        <tbody style="display: none;">

     
        </tbody>
        <tfoot>
            <tr>
                <th>NAME</th> 
                <th>USER MODIFICATION</th>
                <th>DATE MODIFICATION</th>
                <th>ACTION MODIFICATION </th>                
                <th class="hidden">SELECT </th>
            </tr>
        </tfoot>
    </table>
</div>

<script>
    $(Inicio);

    function Inicio()
    {


    }




</script>