<div class="table-responsive" id="TablaParaBusquedaAvanzadaCasos">
                    <table class="table table-striped table-bordered table-hover dataTables-example" id="tblPacientes" >
                    <thead class="th_tabla">
                    <tr>
        <th class="hidden">Pat_code</th>
        <th >         
            First Name
        </th>
        <th>
            Patient's Last name
        </th>
        <th>
            Birthday
        </th>
        <th>
            SSNumber
        </th>
        <th>
            Street
        </th>
        <th>
            City
        </th>
        <th style="display: none;">
            City code
        </th>
        <th>
            State
        </th>
        <th style="display: none;">
            State code
        </th>
        <th>
            Zip
        </th>
        <th>
            Ext
        </th>
        <th>
            Phone
        </th>
        <th>
            Alt Phone
        </th>
        <th>
            Sex
        </th>                               
        <th>Operations</th>
                    </tr>
  </thead>
  <tbody>
  </tbody>
   <tfoot>
    <tr>
        
        <th style="display: none;">

        </th>

       <th >         
            First Name
        </th>
        <th>
            Patient's Last name
        </th>
        <th>
            Birthday
        </th>
        <th>
            SSNumber
        </th>
        <th>
            Street
        </th>
        <th>
            City
        </th>
        <th style="display: none;">
            City code
        </th>
        <th>
            State
        </th>
        <th style="display: none;">
            State code
        </th>
        <th>
            Zip
        </th>
        <th>
            Ext
        </th>
        <th>
            Phone
        </th>
        <th>
            Alt Phone
        </th>
        <th>
            Sex
        </th>         
        <th>Operations</th>

    </tr>
   </tfoot>
  </table>
</div>

<script>
    $(Inicio);

    function Inicio()
    {


    }




</script>