@{
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body style="font-size:10px;text-align:justify;font-family: Open Sans, sans-serif;">

<table cellspacing="0" cellpadding="0" style="background:#ececec;width:800px"> 
<tr>
<td style="width:2%">&nbsp;&nbsp;</td>
<td style="width:10%;font-weight:bold;text-align: right;">Patient: </td>
<td style="width:22%;">&nbsp; mariela Roman</td>
<td style="width:2%;">&nbsp;&nbsp;</td>
<td style="width:12%;font-weight:bold;">Claim #: </td>
<td style="width:22%;">655y5yu5u5i45</td>
<td style="width:2%">&nbsp;&nbsp;</td>
</tr>
<tr><td style="width:2%;">&nbsp;&nbsp;</td>
    <td style="width:10%;">&nbsp;&nbsp;</td>
    <td style="width:22%;">&nbsp;&nbsp;</td>
    <td style="width:2%;">&nbsp;&nbsp;</td>
    <td style="width:12%;">&nbsp;&nbsp;</td>
    <td style="width:22%;">&nbsp;&nbsp;</td>
    <td style="width:2%;">&nbsp;&nbsp;</td>
</tr>
<tr>
<td style="width:2%;">&nbsp;&nbsp;</td>
<td style="width:10%;font-weight:bold;text-align: right;">SSNumber: </td>
<td style="width:22%;">&nbsp;&nbsp;123456  &nbsp;&nbsp;&nbsp;DOB:&nbsp; 8/23/56</td>
<td style="width:2%;">&nbsp;&nbsp;</td>
<td style="width:12%;font-weight:bold;">Adjuster:</td>
<td style="width:22%;">Robin Demello</td>
<td style="width:2%;">&nbsp;&nbsp;</td>
</tr>
<tr><td style="width:2%;">&nbsp;&nbsp;</td>
    <td style="width:10%;">&nbsp;&nbsp;</td>
    <td style="width:22%;">&nbsp;&nbsp;</td>
    <td style="width:2%;">&nbsp;&nbsp;</td>
    <td style="width:12%;">&nbsp;&nbsp;</td>
    <td style="width:22%;">&nbsp;&nbsp;</td>
    <td style="width:2%;">&nbsp;&nbsp;</td>
</tr>
<tr>
<td style="width:2%;">&nbsp;&nbsp;</td>
<td style="width:10%;font-weight:bold;text-align: right;">Street: </td>
<td style="width:22%;">&nbsp;&nbsp;6484 indian creek,apt 598</td>
<td style="width:2%;">&nbsp;&nbsp;</td>
<td style="width:12%;font-weight:bold;">Phone:</td>
<td style="width:22%;"><table><tr><td>numphone</td><td style="font-weight:bold;">Ext:</td><td>231</td></tr></table></td>
<td style="width:2%;">&nbsp;&nbsp;</td>
</tr>
<tr>
    <td style="width:2%;">&nbsp;&nbsp;</td>
    <td style="width:10%;">&nbsp;&nbsp;</td>
    <td style="width:22%;">&nbsp;&nbsp;</td>
    <td style="width:2%;">&nbsp;&nbsp;</td>
    <td style="width:12%;">&nbsp;&nbsp;</td>
    <td style="width:22%;">&nbsp;&nbsp;</td>
    <td style="width:2%;">&nbsp;&nbsp;</td>
</tr>

<tr>
<td style="width:2%;">&nbsp;&nbsp;</td>
<td style="width:10%;font-weight:bold;text-align: right;">City: </td>
<td style="width:22%;">&nbsp;&nbsp;Miami beach</td>
<td style="width:2%;">&nbsp;&nbsp;</td>
<td style="width:12%;font-weight:bold;">Insurer:</td>
<td style="width:22%;">Normady Insurance Company</td>
<td style="width:2%;">&nbsp;&nbsp;</td>
</tr>
<tr>
    <td style="width:2%;">&nbsp;&nbsp;</td>
    <td style="width:10%;">&nbsp;&nbsp;</td>
    <td style="width:22%;">&nbsp;&nbsp;</td>
    <td style="width:2%;">&nbsp;&nbsp;</td>
    <td style="width:12%;">&nbsp;&nbsp;</td>
    <td style="width:22%;">&nbsp;&nbsp;</td>
    <td style="width:2%;">&nbsp;&nbsp;</td>
</tr>




</table>

<table cellspacing="0" cellpadding="0" style="background:#ececec;width:800px"> 
<tr bgcolor="#b42734" style="color:white;text-align:center;padding:0px;">
    <td style="width:200px;font-weight:bold;" colspan="7">CASE INFORMATION SHEET</td>
</tr>
<tr><td style="width:6%">&nbsp;&nbsp;</td><td style="width:10%">&nbsp;&nbsp;</td><td style="width:200px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td><td style="width:60px;">&nbsp;&nbsp;</td><td style="width:220px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td></tr>
<tr>
<td style="width:6%">&nbsp;&nbsp;</td>
<td style="width:10%;font-weight:bold;text-align: right;">Patient: </td>
<td style="width:220px;">&nbsp; mariela Roman</td>
<td style="width:20px;">&nbsp;&nbsp;</td>
<td style="width:60px;font-weight:bold;">Claim #: </td>
<td style="width:220px;">655y5yu5u5i45</td>
<td style="width:6%">&nbsp;&nbsp;</td>
</tr>
<tr><td style="width:6%;">&nbsp;&nbsp;</td><td style="width:80px;">&nbsp;&nbsp;</td><td style="width:200px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td><td style="width:60px;">&nbsp;&nbsp;</td><td style="width:220px;">&nbsp;&nbsp;</td><td style="width:6%;">&nbsp;&nbsp;</td></tr>
<tr>
<td style="width:6%;">&nbsp;&nbsp;</td>
<td style="width:80px;font-weight:bold;text-align: right;">SSNumber: </td>
<td style="width:220px;">&nbsp;&nbsp;123456  &nbsp;&nbsp;&nbsp;DOB:&nbsp; 8/23/56</td>
<td style="width:20px;">&nbsp;&nbsp;</td>
<td style="width:60px;font-weight:bold;">Adjuster:</td>
<td style="width:220px;">Robin Demello</td>
<td style="width:6%;">&nbsp;&nbsp;</td>
</tr>
<tr><td style="width:6%;">&nbsp;&nbsp;</td><td style="width:80px;">&nbsp;&nbsp;</td><td style="width:200px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td><td style="width:60px;">&nbsp;&nbsp;</td><td style="width:220px;">&nbsp;&nbsp;</td><td style="width:6%;">&nbsp;&nbsp;</td></tr>
<tr>
<td style="width:6%;">&nbsp;&nbsp;</td>
<td style="width:80px;font-weight:bold;text-align: right;">Street: </td>
<td style="width:220px;">&nbsp;&nbsp;6484 indian creek,apt 598</td>
<td style="width:20px;">&nbsp;&nbsp;</td>
<td style="width:60px;font-weight:bold;">Phone:</td>
<td style="width:220px;"><table><tr><td>numphone</td><td style="font-weight:bold;">Ext:</td><td>231</td></tr></table></td>
<td style="width:6%;">&nbsp;&nbsp;</td>
</tr>
<tr><td style="width:6%;">&nbsp;&nbsp;</td><td style="width:80px;">&nbsp;&nbsp;</td><td style="width:200px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td><td style="width:60px;">&nbsp;&nbsp;</td><td style="width:220px;">&nbsp;&nbsp;</td><td style="width:6%;">&nbsp;&nbsp;</td></tr>


<tr>
<td style="width:6%;">&nbsp;&nbsp;</td>
<td style="width:80px;font-weight:bold;text-align: right;">City: </td>
<td style="width:220px;">&nbsp;&nbsp;Miami beach</td>
<td style="width:20px;">&nbsp;&nbsp;</td>
<td style="width:60px;font-weight:bold;">Insurer:</td>
<td style="width:220px;">Normady Insurance Company</td>
<td style="width:20px;">&nbsp;&nbsp;</td>
</tr>
<tr><td style="width:6%;">&nbsp;&nbsp;</td><td style="width:80px;">&nbsp;&nbsp;</td><td style="width:200px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td><td style="width:60px;">&nbsp;&nbsp;</td><td style="width:220px;">&nbsp;&nbsp;</td><td style="width:6%;">&nbsp;&nbsp;</td></tr>
<tr>
<td style="width:6%;">&nbsp;&nbsp;</td>
<td style="width:80px;font-weight:bold;text-align: right;">State: </td>
<td style="width:220px;">&nbsp;&nbsp;Fl</td>
<td style="width:20px;">&nbsp;&nbsp;</td>
<td style="width:60px;font-weight:bold;">Street:</td>
<td style="width:220px;">P.O Box 1569 (claimsnormadings)</td>
<td style="width:20px;">&nbsp;&nbsp;</td>
</tr>
<tr><td style="width:6%;">&nbsp;&nbsp;</td><td style="width:80px;">&nbsp;&nbsp;</td><td style="width:200px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td><td style="width:60px;">&nbsp;&nbsp;</td><td style="width:220px;">&nbsp;&nbsp;</td><td style="width:6%;">&nbsp;&nbsp;</td></tr>
<tr>
<td style="width:6%;">&nbsp;&nbsp;</td>
<td style="width:80px;font-weight:bold;text-align: right;">Zip: </td>
<td style="width:220px;text-align: left;">&nbsp;&nbsp;<table><tr><td>numZip</td><td style="font-weight:bold;">Ext:</td><td>231</td></tr></table></td>
<td style="width:20px;">&nbsp;&nbsp;</td>
<td style="width:60px;font-weight:bold;">City:</td>
<td style="width:220px;">deferfield</td>
<td style="width:6%;">&nbsp;&nbsp;</td>
</tr>

<tr><td style="width:6%;">&nbsp;&nbsp;</td><td style="width:80px;">&nbsp;&nbsp;</td><td style="width:200px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td><td style="width:60px;">&nbsp;&nbsp;</td><td style="width:220px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td></tr>
<tr>
<td style="width:6%;">&nbsp;&nbsp;</td>
<td style="width:80px;font-weight:bold;text-align: right;">Phone: </td>
<td style="width:220px;">&nbsp;&nbsp;786-9+8989-89-89-89</td>
<td style="width:20px;">&nbsp;&nbsp;</td>
<td style="width:60px;font-weight:bold;">State:</td>
<td style="width:220px;">Fl</td>
<td style="width:6%;">&nbsp;&nbsp;</td>
</tr>
<tr><td style="width:6%;">&nbsp;&nbsp;</td><td style="width:80px;">&nbsp;&nbsp;</td><td style="width:200px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td><td style="width:60px;">&nbsp;&nbsp;</td><td style="width:220px;">&nbsp;&nbsp;</td><td style="width:6%;">&nbsp;&nbsp;</td></tr>
<tr>
<td style="width:6%;">&nbsp;&nbsp;</td>
<td style="width:80px;font-weight:bold;text-align: right;">Alternative Phone: </td>
<td style="width:220px;">&nbsp;&nbsp;000000</td>
<td style="width:20px;">&nbsp;&nbsp;</td>
<td style="width:60px;font-weight:bold;text-align: left;">Zip:</td>
<td style="width:220px;text-align: left;"><table><tr><td>123456798</td><td style="width:100px;font-weight:bold;">Ext:</td><td>231</td></tr></table></td>
<td style="width:6%;">&nbsp;&nbsp;</td>
</tr>
<tr><td style="width:6%;">&nbsp;&nbsp;</td><td style="width:80px;">&nbsp;&nbsp;</td><td style="width:200px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td><td style="width:60px;">&nbsp;&nbsp;</td><td style="width:220px;">&nbsp;&nbsp;</td><td style="width:6%;">&nbsp;&nbsp;</td></tr>
<tr>
<td style="width:6%;">&nbsp;&nbsp;</td>
<td style="width:80px;font-weight:bold;text-align: right;">DOI: </td>
<td style="width:220px;">&nbsp;&nbsp;9/19/2016</td>
<td style="width:20px;">&nbsp;&nbsp;</td>
<td style="width:60px;font-weight:bold;">Phone:</td>
<td style="width:220px;text-align: left;"><table><tr><td>123-164-456</td><td style="width:100px;font-weight:bold;">Ext:</td><td>231</td></tr></table></td>
<td style="width:6%;">&nbsp;&nbsp;</td>
</tr>
<tr><td style="width:6%;">&nbsp;&nbsp;</td><td style="width:80px;">&nbsp;&nbsp;</td><td style="width:200px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td><td style="width:60px;">&nbsp;&nbsp;</td><td style="width:220px;">&nbsp;&nbsp;</td><td style="width:6%">&nbsp;&nbsp;</td></tr>
<tr>
<td style="width:6%;">&nbsp;&nbsp;</td>
<td style="width:80px;font-weight:bold;text-align: right;">Injury: </td>
<td style="width:60px">&nbsp;&nbsp;<table border="1" width="100%"><tr><td rowspan="20">xxxxxx</td></tr></table></td>
<td style="width:220px;">&nbsp;&nbsp;</td>
<td style="width:200px;">
<table>
<tr>
<td style="width:100px;font-weight:bold;">Fax:</td>
<td style="width:200px;" colspan="3">21654</td>
</tr>

<tr>
<td style="width:100px;font-weight:bold;">CC:</td>
<td style="width:200px;">JBELTRAN; CCONNER@NORMANDYINS.Com</td>

</tr>
</table>
</td>


<td style="width:200px;">
<table>
<tr>
<td style="width:100px;font-weight:bold;">&nbsp;</td>
<td style="width:200px;" colspan="3">&nbsp;</td>
</tr>

<tr>
<td style="width:100px;font-weight:bold;">CC:</td>
<td style="width:200px;">JBELTRAN; CCONNER@NORMANDYINS.Com</td>
</tr>
</table>
</td>

<td style="width:6%;">&nbsp;&nbsp;</td>
</tr>

<tr><td style="width:6%;">&nbsp;&nbsp;</td><td style="width:80px;">&nbsp;&nbsp;</td><td style="width:200px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td><td style="width:60px;">&nbsp;&nbsp;</td><td style="width:220px;">&nbsp;&nbsp;</td><td style="width:6%;">&nbsp;&nbsp;</td></tr>
<tr>
<td style="width:6%;">&nbsp;&nbsp;</td>
<td style="width:80px;font-weight:bold;">&nbsp;&nbsp;</td>
<td style="width:220px;">&nbsp;&nbsp;</td>
<td style="width:20px;">&nbsp;&nbsp;</td>
<td style="width:60px;font-weight:bold;">&nbsp;&nbsp;</td>
<td style="width:100px;" ><table style="width:100%;"><tr><td style="width:20px;font-weight:bold;">Yes</td><td style="width:20px;font-weight:bold;">No</td><td style="width:100px;font-weight:bold;">Company</td></tr></table></td>
<td style="width:20px;">&nbsp;&nbsp;</td>
</tr>



<tr><td style="width:6%;">&nbsp;&nbsp;</td><td style="width:80px;">&nbsp;&nbsp;</td><td style="width:200px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td><td style="width:60px;">&nbsp;&nbsp;</td><td style="width:220px;">&nbsp;&nbsp;</td><td style="width:6%;">&nbsp;&nbsp;</td></tr>
<tr>

   <td style="width:6%;">&nbsp;&nbsp;</td>
<td style="width:80px;font-weight:bold;text-align: right;">Price per Hour: </td>
<td style="width:220px;">&nbsp;&nbsp;75.50</td>
<td style="width:20px;">&nbsp;&nbsp;</td>
<td style="width:60px;font-weight:bold;">Translation:</td>
<td style="width:220px;"><table><tr><td style="width:20px;"><input type="checkbox" value="" name="check1" /></td><td style="width:20px;"><input type="checkbox" value="" name="check2" /></td><td style="width:50px;"><input type="input" value="a" name="input1" /></td></tr></table></td>
<td style="width:20px;">&nbsp;&nbsp;</td>
</tr>

<tr><td style="width:6%;">&nbsp;&nbsp;</td><td style="width:80px;">&nbsp;&nbsp;</td><td style="width:200px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td><td style="width:60px;">&nbsp;&nbsp;</td><td style="width:220px;">&nbsp;&nbsp;</td><td style="width:6%;">&nbsp;&nbsp;</td></tr>
<tr>

<td style="width:6%;">&nbsp;&nbsp;</td>
<td style="width:80px;font-weight:bold;text-align: right;">Date of Referral: </td>
<td style="width:200px;">&nbsp;&nbsp;10/22/2015</td>
<td style="width:20px;">&nbsp;&nbsp;</td>
<td style="width:60px;font-weight:bold;">Transportation:</td>
<td style="width:220px;"><table><tr><td style="width:20px;">input</td><td style="width:20px;"><input type="checkbox" value="" name="check2" /></td><td style="width:50px;"><input type="input" value="a" name="input1" /></td></tr></table></td>
<td style="width:6%;">&nbsp;&nbsp;</td>
</tr>
@*<img alt="image" src='@Url.Content("~/Proyecto/Omnimed-Billing/Omnimed-Billing/Billing.We/images/orderedList8.png")'  />*@

<tr><td style="width:6%;">&nbsp;&nbsp;</td><td style="width:80px;">&nbsp;&nbsp;</td><td style="width:200px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td><td style="width:60px;">&nbsp;&nbsp;</td><td style="width:220px;">&nbsp;&nbsp;</td><td style="width:6%;">&nbsp;&nbsp;</td></tr>
<tr>

<td style="width:6%;">&nbsp;&nbsp;</td>
<td style="width:80px;font-weight:bold;text-align: right;">Provider: </td>
<td style="width:200px;">ARIADNE ROIG POU</td>
<td style="width:20px;">&nbsp;&nbsp;</td>
<td style="width:60px;font-weight:bold;">Physical therapy:</td>
<td style="width:220px;"><table><tr><td style="width:20px;"><input type="checkbox" value="" name="check1" /></td><td style="width:20px;"><input type="checkbox" value="" name="check2" /></td><td style="width:50px;"><input type="input" value="a" name="input1" /></td></tr></table></td>
<td style="width:6%;">&nbsp;&nbsp;</td>
</tr>

<tr><td style="width:6%;">&nbsp;&nbsp;</td><td style="width:80px;">&nbsp;&nbsp;</td><td style="width:200px;">&nbsp;&nbsp;</td><td style="width:20px;">&nbsp;&nbsp;</td><td style="width:60px;">&nbsp;&nbsp;</td><td style="width:220px;">&nbsp;&nbsp;</td><td style="width:6%;">&nbsp;&nbsp;</td></tr>
<tr>

<td style="width:6%;">&nbsp;&nbsp;</td>
<td style="width:80px;font-weight:bold;">&nbsp; </td>
<td style="width:200px;">&nbsp;</td>
<td style="width:20px;">&nbsp;&nbsp;</td>
<td style="width:60px;font-weight:bold;">Permision to Contact:</td>
<td style="width:220px;"><table><tr><td style="width:20px;"><input type="checkbox" value="" name="check1" /></td><td style="width:20px;"><input type="checkbox" value="" name="check2" /></td><td style="width:50px;"><input type="input" value="a" name="input1" /></td></tr></table></td>
<td style="width:6%;">&nbsp;&nbsp;</td>
</tr>
</table>




<table cellspacing="0" cellpadding="0" style="background:#ececec;width:800px"> 
<tr bgcolor="white" style="color:#b42734;text-align:center;padding:0px;">
    <td style="width:200px;font-weight:bold;" colspan="12">DOCTORS AND FACILITIES</td>
</tr>
<tr bgcolor="#b42734" style="color:white;text-align:center;padding:0px;width:100%">
    <td style="width:10%;font-weight:bold;">NAME</td>
    <td style="width:10%;font-weight:bold;">STREET</td>
    <td style="width:10%;font-weight:bold;">City</td>
    <td style="width:6%;font-weight:bold;">ST</td>
    <td style="width:6%;font-weight:bold;">ZIP</td>
    <td style="width:10%;font-weight:bold;">EXT</td>
    <td style="width:10%;font-weight:bold;">PHONE</td>
    <td style="width:10%;font-weight:bold;">EXT</td>
    <td style="width:10%;font-weight:bold;">ALT PH</td>
    <td style="width:10%;font-weight:bold;">FAX</td>
    <td style="width:12%;font-weight:bold;">OFFICE</td>
    <td style="width:12%;font-weight:bold;">SPECIALITY</td>
</tr>
<tr style="color:black;text-align:center;padding:0px;width:100%">
    <td style="width:10%;font-weight:bold;">xxx</td>
    <td style="width:10%;font-weight:bold;">xxx</td>
    <td style="width:10%;font-weight:bold;">xxx</td>
    <td style="width:6%;font-weight:bold;">xxx</td>
    <td style="width:6%;font-weight:bold;">xx</td>
    <td style="width:10%;font-weight:bold;">xx</td>
    <td style="width:10%;font-weight:bold;">xx</td>
    <td style="width:10%;font-weight:bold;">xx</td>
    <td style="width:10%;font-weight:bold;">xx </td>
    <td style="width:10%;font-weight:bold;">xxx</td>
    <td style="width:12%;font-weight:bold;">xxxx</td>
    <td style="width:12%;font-weight:bold;">xxxx</td>
</tr>

</table>


     @*cellspacing="0" cellpadding="0" style="background:#ececec;width:800px;border-bottom-color: blue;    border-bottom-width: 1px;border-bottom-style: solid;"*@
<table border ="1"> 
<tr bgcolor="white" style="color:#b42734;text-align:center;padding:0px;">
    <td style="width:200px;font-weight:bold;" colspan="10">ATTORNEYS</td>
</tr>
<tr bgcolor="#b42734" style="color:white;text-align:center;padding:0px;width:100%">
    <td style="width:10%;font-weight:bold;">NAME</td>
    <td style="width:10%;font-weight:bold;">STREET</td>
    <td style="width:10%;font-weight:bold;">City</td>
    <td style="width:6%;font-weight:bold;">ST</td>
    <td style="width:6%;font-weight:bold;">ZIP</td>
    <td style="width:10%;font-weight:bold;">EXT</td>
    <td style="width:10%;font-weight:bold;">PHONE</td>
    <td style="width:10%;font-weight:bold;">FAX</td>
    <td style="width:12%;font-weight:bold;">ASSISTANT</td>
    <td style="width:12%;font-weight:bold;">SPECIALITY</td>
</tr>
<tr style="color:black;text-align:center;padding:0px;width:100%">
    <td style="width:10%;font-weight:bold;">xxx</td>
    <td style="width:10%;font-weight:bold;">xxx</td>
    <td style="width:10%;font-weight:bold;">xxx</td>
    <td style="width:6%;font-weight:bold;">xxx</td>
    <td style="width:6%;font-weight:bold;">xx</td>
    <td style="width:10%;font-weight:bold;">xx</td>
    <td style="width:10%;font-weight:bold;">xx</td>

    <td style="width:10%;font-weight:bold;">xxx</td>
    <td style="width:12%;font-weight:bold;">xxxx</td>
    <td style="width:12%;font-weight:bold;">xxxx</td>
</tr>

</table>
</body>
</html>