
<div class="table-responsive">
 <table class="table table-striped table-bordered table-hover dataTables-example"  id="tblInsurer" >
<thead class ="th_tabla">
 <tr>
        <th class="hidden"></th>
        <th>            
            Name
        </th>
        <th>
            Street
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>            
            Phone
        </th>
        <th>
            Ext
        </th>
        <th>            
            Fax
        </th>
        <th>            
            Zip
        </th>
        <th>            
            Ext
        </th>
        <th>            
            SC/TPA
        </th>
        <th>            
            Fein Sc
        </th>
        <th>            
            Carrier
        </th>
        <th>            
            Fein CC
        </th>
        <th>Operations</th>
    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                   <tr>
        <th class="hidden"></th>
        <th>            
            Name
        </th>
        <th>
            Street
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>            
            Phone
        </th>
        <th>
            Ext
        </th>
        <th>            
            Fax
        </th>
        <th>            
            Zip 
        </th>
        <th>            
            Ext
        </th>
        <th>            
            SC/TPA
        </th>
        <th>            
            Fein Sc
        </th>
        <th>            
            Carrier
        </th>
        <th>            
            Fein Cc
        </th>
        <th>Operations</th>
    </tr>
                    </tfoot>
 </table>
</div>

<script>
    $(Inicio);

    function Inicio()
    {
        PaginarTabla();
    }


    function PaginarTabla() {
        console.log("hola");

        $('#tblInsurer').DataTable({
              order: [[1, "asc"]],
             "pageLength": 10,
             "columnDefs": [ { className: "hidden", "targets": [0] }],
             "language":
                  { "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"},
             "processing": true,
             "serverSide": true,
             "ajax": {
                    "url": '@Url.Action("GetData", "Insurer")',
                    "type": "POST",
                    "dataType": "JSON"
                     },
             "columns": [
                        { "data": "Ins_code" },
                        { "data": "Ins_name" },
                        { "data": "Ins_address" },
                        { "data": "Ins_city" },
                        { "data": "Ins_state" },
                        { "data": "Ins_phone" },
                        { "data": "Ins_phoneExt" },
                        { "data": "Ins_fax" },
                        { "data": "Ins_zipCode" },
                        { "data": "Ins_zipExt" },
                        { "data": "Ins_scTpaCode" },
                        { "data": "Ins_feinSc" },
                        { "data": "Ins_carrierCode" },
                        { "data": "Ins_feinCc" },
                        { "render": function (data, type, full, meta) { return ' <a class="btn EditarInsurer btn-white btn-bitbucket" title="Edit Insurer" href="#divInsurer"><i class="fa fa-pencil text-danger"></i></a> &nbsp;<a class="btn EliminarInsurer btn-white btn-bitbucket"><i class="fa fa-trash-o text-danger" title="Delete Insurer"></i> </a>' } }
                        ]
        });
        ////////////////////////////////////////////////////////////////////////
    }




 


</script>