

    <style type="text/css">
        #cssRevealedContent {
            display: block;
        }
        .th_clase {
           background-color:red;
           color:white;
        }
    </style>
    <link href="@Url.Content("~/Content/csstest.css") rel="stylesheet" />

<div id="cssRevealedContsent">
                        <div class="row">
                        <form class="form-horizontal" method="get" role="form">
                            <input type="hidden" value="0" id="hdCodigoCaso">
                            <div  class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">company brenher:</label> 
                                    <div class="col-lg-9">
                                        <input type="text" readonly="" id="txtClaim" class="form-control l-i-de">                                        
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="hdCodigoPaciente">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Adjuster:</label> 
                                    <div class="col-lg-9">
                                        <input type="text" readonly="" id="txtPaciente" class="form-control l-i-de">
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
       <table class="table table-striped table-bordered table-hover dataTables-example" style="width:100%;">
        <thead >    
         <tr>
           <th class="th_clase">Patientxxx </th>
           <th class="th_clase">DOIxx</th>           
           <th class="th_clase">SS#xxx</th>           
           <th class="th_clase">Claim#xxx</th>           
           <th class="th_clase">Status#xx</th>           
        </tr>
       </thead>
       <tbody>
                 <tr>
                     <td><span class="line">5,3,2,-1,-3,-2,2,3,5,2</span></td>
                     <td>Samantha</td>                          
                     <td>Samantha</td>                          
                     <td>Samantha</td>                          
                     <td>Samantha</td>                          
                 </tr>
                 <tr>
                     <td><span class="line">5,3,9,6,5,9,7,3,5,2</span></td>
                     <td>Jacob</td>                                
                     <td>Jacob</td>                             
                     <td>Jacob</td>                             
                     <td>Jacob</td>                                                   
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                       
                    <td>Damien</td>                       
                    <td>Damien</td>                       
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>    
                    <td>Damien</td>    
                    <td>Damien</td>    
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                            <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                            <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                            <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                            <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                            <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                            <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                            <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                            <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                            <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                            <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                            <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                            <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                            <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                            <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                 <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
                            <tr>
                    <td><span class="line">1,6,3,9,5,9,5,3,9,6,4</span></td>
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                    <td>Damien</td>                                
                 </tr>
        </tbody>
        <tfoot>
        <tr>
           <th>Patient </th>
           <th>DOI</th>           
           <th>SS#</th>           
           <th>Claim#</th>           
           <th>Status#</th>           
        </tr>
        </tfoot>
    </table>
</div>
