<nav class="navbar navbar-static-top" style="margin-bottom: 0px;" role="navigation">
    <!--
    <a href="#" id="liberarCasos" style="background: #d8d8e0;display: inline-block;padding: 18px 0;text-align: center;">
        <span style="color: red;font-weight: 700;">
            Data entry and payment recovery point        
        </span>
    </a>
    -->
    <div class="navbar-collapse collapse" id="navbar">
         <ul class="nav navbar-nav">                                         
                <li style="width: 100%;">
                    <a nombre="Paciente" id="MenuPaciente" href="#" class="ElementoMenu" style="text-align:center;display:none;" >
                        <span>
                            <img alt="image" class="img" src="images/imagen1.jpg">
                        </span>    <br>
                        <span class="nav-label">Register Patients</span>
                    </a>

                </li>
                                        
                <li style="width: 100%;">
                    <a nombre="Medico" id="MenuDoctor" class="ElementoMenu" style="text-align:center;display:none;" >
                        <span>
                            <img alt="image" class="img" src="images/imagen5.jpg">
                        </span>    <br>
                        <span class="nav-label">Register Doctors and Facilities</span>
                    </a>
                </li>
                                         
                <li style="width: 100%;">
                    <a nombre="Aseguradora" id="MenuAseguradora" class="ElementoMenu" style="text-align:center;display:none;" >
                        <span>
                            <img alt="image" class="img" src="images/imagen10.jpg">
                        </span>    <br>
                        <span class="nav-label">Register Insurers</span>
                    </a>
                </li>
                 
                <li style="width: 100%;">
                    <a nombre="Abogado" id="MenuAbogado" class="ElementoMenu" style="text-align:center;display:none;" >
                        <span>
                            <img alt="image" class="img" src="images/imagen2.jpg">
                        </span>    <br>
                        <span class="nav-label">Register Attorneys</span>
                    </a>
                </li>
                 
                <li style="width: 100%;">
                    <a nombre="Ajustador" id="MenuAdjuster" class="ElementoMenu" style="text-align:center;display:none;" >
                        <span>
                            <img alt="image" class="img" src="images/imagen11.jpg">
                        </span>    <br>
                        <span class="nav-label">Register Adjusters</span>
                    </a>
                </li>
                 
                <li style="width: 100%;">
                    <a nombre="Proveedor" id="MenuProveedor" class="ElementoMenu" style="text-align:center;display:none;" >
                        <span>
                            <img alt="image" class="img" src="images/imagen12.jpg">
                        </span>    <br>
                        <span class="nav-label">Register Providers</span>
                    </a>
                </li>

                <li style="width: 100%;">
                    <a nombre="Actividad" id="MenuActividad" class="ElementoMenu" style="text-align:center;display:none;" >
                        <span>
                            <img alt="image" class="img" src="images/imagen13.jpg">
                        </span>    <br>
                        <span class="nav-label">Register Activities</span>
                    </a>
                </li>
                 
                <li style="width: 100%;">
                    <a nombre="Especialidad" id="MenuEspecialidad" class="ElementoMenu" style="text-align:center;display:none;" >
                        <span>
                            <img alt="image" class="img" src="images/imagen14.jpg">
                        </span>    <br>
                        <span class="nav-label">Register Speciality</span>
                    </a>
                </li>
                <li style="width: 100%;">
                    <a nombre="Configuracion" style="text-align:center;display:none;" class="ElementoMenu" id="MenuConfiguracion">
                        <span>
                            <img alt="image" class="img" src="@Url.Content("~/images/configuracion.jpg")" width="50" height="47" />
                        </span>    <br> <span class="nav-label">Configuration <br /> &nbsp;</span>
                    </a>
                </li>
@*                <li style="width: 100%;">
                    <a nombre="PatientTest" id="MenuPatientTest" class="ElementoMenu" style="text-align:center;" >
                        <span>
                            <img alt="image" class="img" src="images/imagen14.jpg">
                        </span>    <br>
                        <span class="nav-label">Patient Test</span>
                    </a>
                </li>*@
                  
          </ul>

    </div>
	
      </nav>
<input type ="hidden" value="@ViewBag.tipoPermiso" id="permiso">
<style>
    /*.nav-label {
        color: #010101;
    }*/
</style>