<nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element" style="text-align: center;"> <span>
                            <img alt="image" class="img-circle" src="@Url.Content("~/Images/avatar3.png")" />                        
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold" id="usuario_logueado"> @ViewBag.usuario </strong>
                            </span> </span> </a>
                    </div>
                    <div class="logo-element">
                        OM+
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Masters</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a class="ElementoMenu" href="#" id="MenuPaciente" >Patient</a>
                        </li>                        
                        <li>
                            <a class="ElementoMenu" href="#" id="MenuDoctor" >Medical</a>
                        </li>
                        <li>
                            <a class="ElementoMenu" href="#" id="MenuAseguradora">Insurers</a>
                        </li>
                        <li>
                            <a class="ElementoMenu" href="#" id="MenuAbogado">Attorney</a>
                        </li>
                        <li>
                            <a class="ElementoMenu" href="#" id="MenuAdjuster">Adjuster</a>
                        </li>
                        <li>
                            <a class="ElementoMenu" href="#" id="MenuProveedor">Provider</a>
                        </li>
                        <li>
                            <a class="ElementoMenu" href="#" id="MenuActividad">Activities</a>
                        </li>
                        <li>
                            <a class="ElementoMenu" href="#" id="MenuEspecialidad">Specialty</a>
                        </li>
                     </ul>
                </li>
                

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Processes</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a class="ElementoMenu" href="#" id="ProcesoCaso">CASE INFORMATION SHEET</a>
                        </li>                        
                        
                    </ul>
                </li>
               
               
            </ul>

        </div>
    </nav>


