<div class="footer">
<div class="pull-right">
        <strong>OMNIMED</strong>
    </div>
    <div>
        <strong>Developed by </strong> <a href="http://www.itusaservices.com">Itusaservices</a> 
    </div>

</div>

